[Desktop Entry]
Version=1.0
Type=Application
Exec=xfce4-session-logout
Icon=/usr/share/pixmaps/archlinux.svg
StartupNotify=false
Terminal=false
Categories=System;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=Log Out
Name[en_GB]=Log Out
Comment=Log out of the Xfce Desktop
Comment[en_GB]=Log out of the Xfce Desktop
X-XFCE-Source=file:///usr/share/applications/xfce4-session-logout.desktop
Path=
